@inject SignInManager<AppUser> _signInManager


<ul class="navbar-nav">
    @if (_signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark">Hello, @User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Logout</a>
        </li>
    }
    else
        {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="account" asp-action="register">Regiater</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
        </li>
        }    
</ul>
